.photo-grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    max-width: 1280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    grid-gap: 16px;
    margin: 0 auto;
    padding: 92px 48px 0;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    line-height: .6;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .photo-grid {
        grid-gap: 14px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .photo-grid {
        padding: 88px 24px 0;
        grid-gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid {
        padding: 64px 16px 0;
        grid-gap: 12px;
    }
}
